@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1180px;
  margin: 0px auto;
}

.content {
  height: calc(100vh - 60px);
  /* background-color: ; */
}

html {
  border: none;
  outline: none;
}